.slide1 {
    height: 100%;
    width: flex;
    padding-top: 70vh;
    //padding: 30%;
    overflow: hidden;
    align-items: center;
    background: 
        linear-gradient(
            rgba(125, 125, 125, 0.6),
            rgba(125, 125, 125, 0.6)
        ),
        url('./12.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    h1{
        position: relative;
        bottom: 200px;
        left: 250px;
    }
    p{
        position: relative;
        bottom: 375px;
        
    }
    div{
        position: relative;
        bottom: 400px;
        left: 500px;
    }
    
}
